@model IEnumerable<PosterModels.Poster>
 <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" /> 
@{
    ViewData["Title"] = "Welcome to the Poster Manager";
}

<div class="text-center">
    <h1>Welcome to the Poster Manager</h1>
</div>


@*
<!--Test start-->
<div class="container">
    <div class="carousel">
        @foreach (var item in Model)
        {
            <div class="carousel__face">
                <img src="@item.ImgPath" alt="image of a poster called @item.Title" />
            </div>
        }
    </div>
</div>
<!--End Test-->
*@