@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


    <p>Effective date: April 2, 2024</p>

    <p>postermanager.azurewebsites.net ("us", "we", or "our") operates the postermanager.azurewebsites.net website (the "Service").</p>

    <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

    <p>We use your data to provide and improve the Service. By using the Service, you consent to the collection and use of information in accordance with this policy.</p>

    <h2>Information We Collect</h2>

    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
    <ul>
        <li>Email address</li>
        <li>Name</li>
    </ul>

    <p>We may also collect information that your browser automatically sends whenever you visit our Service ("Usage Data"). This Usage Data may include information such as your computer's internet protocol (IP) address, browser type, version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other diagnostic data.</p>

    <h2>Use of Data</h2>

    <p>postermanager.azurewebsites.net uses the collected data for various purposes:</p>
    <ul>
        <li>To provide and maintain the Service</li>
        <li>To improve the Service</li>
        <li>To personalize your experience</li>
        <li>To internal purposes such as analytics</li>
    </ul>

    <h2>Disclosure of Data</h2>

    <p>We may disclose your Personal Data to third-party vendors and service providers to perform services on our behalf or to assist us in providing and improving the Service. These third parties are obligated to use your Personal Data only to perform the services requested by us and are prohibited from using your Personal Data for their own purposes.</p>

    <p>We may also disclose your Personal Data if we are required to do so by law or in the good faith belief that such action is necessary to:</p>
    <ul>
        <li>Comply with a legal obligation</li>
        <li>Protect the rights or safety of postermanager.azurewebsites.net</li>
        <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>Protect the personal safety of any user of the Service or the public</li>
    </ul>

    <h2>Data Security</h2>

    <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

    <h2>Your Rights</h2>

    <p>Depending on your location, you may have certain rights regarding your personal data. If you are a resident of the European Economic Area (EEA), you have certain rights under the General Data Protection Regulation (GDPR). These rights include the right to access, rectify, or erase your personal data, as well as the right to restrict or object to processing of your personal data. You can also withdraw your consent for us to use your personal data.</p>

    <p>To exercise any of these rights, please contact us using the contact information below.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

    